@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Arimo&family=Source+Sans+Pro&display=swap');

* {
  box-sizing: border-box;
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */

/* .logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */

.container {
  width: 100%;
  border-radius: 0px;
  margin: 0 auto;
  font-family: 'Source Sans Pro', sans-serif;
  display: flex;
  /* grid-gap: 3rem; */
}

.new-task,
.todo-list {
  border: 1px solid #000000;
  padding: 2rem;
  max-width: 50%;
  width: 100%;
}

.new-task {
  border-right: 0;
}

.todo-list {
  border-left: 0.5px solid #000000;
  position: relative;
  padding-bottom: 6rem;
}

.title-new-task,
.title-todo-list {
  text-align: center;
}

.new-task input,
.todo-list input {
  display: block;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: left;
  padding: 10px 0 10px 0;
  background: #ffffff;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.textarea-new-task {
  width: 100%;
  height: 125px;
  resize: vertical;
}

.box-new-task {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

.box-new-task input {
  /* width: 100%; */
}

.box-new-task select {
  text-transform: capitalize;
  padding: 8.5px;
  width: 100%;
  font-size: 1rem;
}

.button-new-task,
.button-update-task {
  width: 100%;
  height: 32px;
  color: #ffffff;
  font-family: Arimo;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  background: #5cb85c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.due-date-new-task {
  font-size: 1rem;
}

.react-datepicker__view-calendar-icon input {
  padding-left: 5px !important;
  border-radius: 0;
}

.box-todo-list {
  border: 1px solid #000000;
  border-radius: 0px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1.5rem auto 0 auto;
  width: 100%;
}

.update-todo-list {
  border-radius: 0px;
  width: 100%;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
}

.update-todo-list.collapsed {
  max-height: 500px;
  border: 1px solid #000000;
  padding: 1rem;
  margin: 1.5rem auto;
}

.box-todo-list .name-todo-list {
  display: flex;
  align-items: center;
}

.box-todo-list .name-todo-list input {
  margin-right: 1rem;
  width: 20px;
  height: 20px;
}

.box-todo-list .name-todo-list h3 {
  margin: 0 auto;
}

.button-detail-todo-list,
.button-remove-todo-list,
.button-bulk-action,
.button-cancel {
  color: #ffffff;
  font-size: 0.75rem;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  text-align: center;
  border: none;
  border-radius: 6px;
  padding: 10px;
  cursor: pointer;
  width: 100px;
}

.button-detail-todo-list {
  background: #00bcd4;
  margin-right: 1rem;
}

.button-remove-todo-list {
  background: #d9534f;
}

.button-bulk-action {
  background: #2196f3;
  margin-right: 1rem;
}

.button-cancel {
  background: white;
  color: #000000;
  border: 1px solid #000000;
}

/* Bulk Action */

.box-bulk-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #e0e0e0;
  padding: 0.5rem 1rem;
  margin: 4rem -2rem 0 -2rem;
  position: absolute;
  width: 100%;
  bottom: 0;
}

@media (min-width: 320px) and (max-width: 560px) {
  .container {
    flex-direction: column;
  }
  .new-task,
  .todo-list {
    max-width: 100%;
  }

  .new-task {
    border-right: 1px solid #000000;
  }

  .box-todo-list {
    flex-direction: column;
    justify-content: flex-start;
  }

  .box-todo-list .name-todo-list {
    justify-content: flex-start;
    align-items: unset;
    width: 100%;
  }

  .box-todo-list .name-todo-list h3 {
    margin-left: 0;
    word-wrap: break-word;
    word-break: break-all;
  }

  .box-todo-list div {
    display: flex;
    margin-top: 1rem;
  }
}

@media (min-width: 561px) and (max-width: 1399px) {
  .box-todo-list {
    flex-direction: column;
    align-items: flex-start;
  }

  .box-todo-list .name-todo-list {
    margin-bottom: 1rem;
  }

  .box-todo-list div {
    display: flex;
  }

  .box-todo-list .name-todo-list h3 {
    margin-left: 0;
    word-wrap: break-word;
    word-break: break-all;
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal.open {
  display: block;
}

.modal-content {
  background-color: green;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 80%;
  font-size: 1.25rem;
  display: flex;
  align-items: center;
  color: aliceblue;
}

.modal-content p {
  margin-left: 1rem;
}

/* The animation */
.modal-content {
  animation-name: slide-down;
  animation-duration: 0.5s;
}

/* When the modal is closed */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@keyframes slide-down {
  from {
    margin-top: -300px;
    opacity: 0;
  }
  to {
    margin-top: 0;
    opacity: 1;
  }
}

.modal-delete-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}
.modal-delete {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  height: 400px;
  box-shadow: 0px 0px 10px #cccccc;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.box-button-confirm button {
  margin-right: 10px;
}
